<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="disenoBase::site-head"></head>
<body>
    <header th:replace="disenoBase::site-header"></header>
    
    <main role="main">
        <div class="container" id="divCasoForm">
            <article>
                <header>
                    <h4 class="text-primary">Cuadro de Méritos</h4>
                </header>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Alumno</th>
                            <th>Promedio Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entry : ${ranking}">
                            <td th:text="${entry[0]}"></td>
                            <td th:text="${entry[1]}"></td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>        
    </main>
    <footer th:replace="disenoBase::site-footer"></footer>
</body>
</html>
