<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="disenoBase::site-head"></head>
<body>
    <header th:replace="disenoBase::site-header"></header>
    
    <main role="main">
        <div class="container" id="divBoletaNotas">
            <article>
                <header>
                    <h4 class="text-primary">Boleta de Notas de <span th:text="${alumno.nombres} + ' ' + ${alumno.apellidos}"></span></h4>
                </header>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Curso</th>
                            <th>Unidad 1</th>
                            <th>Unidad 2</th>
                            <th>Unidad 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="nota : ${notas}">
                            <td th:text="${nota.curso.nombre}"></td>
                            <td th:text="${nota.unidad1}"></td>
                            <td th:text="${nota.unidad2}"></td>
                            <td th:text="${nota.unidad3}"></td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" th:href="@{/nota/boleta}" class="btn btn-secondary">Seleccionar otro alumno</a>
            </article>
        </div>        
    </main>
    <footer th:replace="disenoBase::site-footer"></footer>
</body>
</html>
